* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins"
}
nav{
width: 100%;
background-color:white;
height: 60px;
}
.nav{
    
    display: flex;
 justify-content: space-between;
 margin: 0 80px;
 align-items: center;
}
.class1 ul li{
    display: inline-block;
    color: black;
    font-size: 18px;
    font-weight: 700;
    padding: 18px 10px;
}
.class2 p{
    font-size: 20px;
   font-weight: 700;
    padding: 18px 0;
}
.class3 button{
    margin: 18px 10px;
    border: none;
    color: white;
    background-color: crimson;
    padding: 5px 10px;
    border-radius: 18px;
}

.parent{
    height: 80vh;
    background-image: url(bg.jpg);
    background-size: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.child1 h1{
   font-size: 35px;
}
.child1 button{
  border-radius: 20px;
   padding: 10px 30px;
   border-color: black;
   margin-top: 10px;
   background: transparent;
}
.about1{
    margin-left: 300px;
    
}

.about2{
 border-top-right-radius: 25px;
 border-top-left-radius: 25px;
  background-image: url(house-1836070_1280.jpg);
  height: 60vh;
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
  width: 80%;
}
.about2 h1{
border-top-left-radius: 25px;
background-color: rgb(177, 1, 36);
margin-right: 670px;
padding: 8px 19px;
color: white;
}
.about3{
  height: 25vh;
  width: 80%;
  background-color: rgb(179, 3, 38);
  margin-bottom: 70px;
  border-bottom-right-radius: 25px;
 border-bottom-left-radius: 25px;
}
.about3 p{ 
    color: white;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

